# .app file location based on the scheme you are trying to use. No `/` in the end
app_location=~/Library/Developer/Xcode/DerivedData/iOS_Emergency_Indoor_Nav-ecnrwrlcjcvnxseftsnuknzuqyli/Build/Products/Debug-iphonesimulator
# the bundle id based on the scheme you are trying to use
bundle_id=com.alquimia.iOS-Emergency-Indoor-Nav

# list of simulators separated by comma. No spaces allowed between device ids.
simulators_list=3D391FFE-0B10-4B46-A18C-AD74FEEA638,F54309CF-7FDC-429C-9E26-8FE2C58DEDC7,18EE0054-4B6A-464E-A1AC-858C5E50DCB9
