<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>Name</key>
      <string>R-G1</string>
      <key>Latitude</key>
      <real>37.32821088974169</real>
      <key>Longitude</key>
      <real>-121.88987061381339</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-H1</string>
      <key>Latitude</key>
      <real>37.3283185973566</real>
      <key>Longitude</key>
      <real>-121.88995242118835</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-I1</string>
      <key>Latitude</key>
      <real>37.328424171997575</real>
      <key>Longitude</key>
      <real>-121.89002215862274</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-1</string>
      <key>Latitude</key>
      <real>37.32828340577664</real>
      <key>Longitude</key>
      <real>-121.88972711563109</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-2</string>
      <key>Latitude</key>
      <real>37.32838898046708</real>
      <key>Longitude</key>
      <real>-121.8898022174835</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-3</string>
      <key>Latitude</key>
      <real>37.32849135578278</real>
      <key>Longitude</key>
      <real>-121.88988000154494</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-4</string>
      <key>Latitude</key>
      <real>37.328953109379604</real>
      <key>Longitude</key>
      <real>-121.8902327120304</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-5</string>
      <key>Latitude</key>
      <real>37.32897976943132</real>
      <key>Longitude</key>
      <real>-121.89016833901405</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-A1</string>
      <key>Latitude</key>
      <real>37.32867157865593</real>
      <key>Longitude</key>
      <real>-121.88994035124777</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-A2</string>
      <key>Latitude</key>
      <real>37.328881660394316</real>
      <key>Longitude</key>
      <real>-121.88950315117835</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-6</string>
      <key>Latitude</key>
      <real>37.32922717426011</real>
      <key>Longitude</key>
      <real>-121.88964262604713</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-7</string>
      <key>Latitude</key>
      <real>37.32915892473355</real>
      <key>Longitude</key>
      <real>-121.88958898186682</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-B1</string>
      <key>Latitude</key>
      <real>37.3287899496569</real>
      <key>Longitude</key>
      <real>-121.88920810818672</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-9</string>
      <key>Latitude</key>
      <real>37.32924423663208</real>
      <key>Longitude</key>
      <real>-121.88940659165382</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-10</string>
      <key>Latitude</key>
      <real>37.32932634924292</real>
      <key>Longitude</key>
      <real>-121.88923090696335</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-B2</string>
      <key>Latitude</key>
      <real>37.32899683185946</real>
      <key>Longitude</key>
      <real>-121.88876152038573</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-23</string>
      <key>Latitude</key>
      <real>37.32940846176404</real>
      <key>Longitude</key>
      <real>-121.88905656337738</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-M1</string>
      <key>Latitude</key>
      <real>37.32947031269469</real>
      <key>Longitude</key>
      <real>-121.8895822763443</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-M2</string>
      <key>Latitude</key>
      <real>37.32954496030182</real>
      <key>Longitude</key>
      <real>-121.8894052505493</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-M3</string>
      <key>Latitude</key>
      <real>37.329871276113664</real>
      <key>Longitude</key>
      <real>-121.88976198434828</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-11</string>
      <key>Latitude</key>
      <real>37.329997109936976</real>
      <key>Longitude</key>
      <real>-121.8894776701927</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-12</string>
      <key>Latitude</key>
      <real>37.32949164059004</real>
      <key>Longitude</key>
      <real>-121.88887417316435</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-13</string>
      <key>Latitude</key>
      <real>37.32938713384511</real>
      <key>Longitude</key>
      <real>-121.88879907131194</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-C1</string>
      <key>Latitude</key>
      <real>37.32907574553922</real>
      <key>Longitude</key>
      <real>-121.88860058784483</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-C2</string>
      <key>Latitude</key>
      <real>37.32928582614749</real>
      <key>Longitude</key>
      <real>-121.88813924789429</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-14</string>
      <key>Latitude</key>
      <real>37.329692122510075</real>
      <key>Longitude</key>
      <real>-121.88842222094534</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-15</string>
      <key>Latitude</key>
      <real>37.3295993463689</real>
      <key>Longitude</key>
      <real>-121.88865154981613</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-16</string>
      <key>Latitude</key>
      <real>37.32995871997932</real>
      <key>Longitude</key>
      <real>-121.88894122838974</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-17</string>
      <key>Latitude</key>
      <real>37.32973371177756</real>
      <key>Longitude</key>
      <real>-121.88832566142082</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-18</string>
      <key>Latitude</key>
      <real>37.3295044373243</real>
      <key>Longitude</key>
      <real>-121.88815802335738</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-19</string>
      <key>Latitude</key>
      <real>37.3291717215245</real>
      <key>Longitude</key>
      <real>-121.88790857791899</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-D1</string>
      <key>Latitude</key>
      <real>37.3295854832575</real>
      <key>Longitude</key>
      <real>-121.88798367977142</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-D2</string>
      <key>Latitude</key>
      <real>37.32925916620438</real>
      <key>Longitude</key>
      <real>-121.88774496316908</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-20</string>
      <key>Latitude</key>
      <real>37.32941272734709</real>
      <key>Longitude</key>
      <real>-121.88761353492737</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-21</string>
      <key>Latitude</key>
      <real>37.329717715908174</real>
      <key>Longitude</key>
      <real>-121.88783615827559</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-F1</string>
      <key>Latitude</key>
      <real>37.329483109432616</real>
      <key>Longitude</key>
      <real>-121.88746869564055</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-E1</string>
      <key>Latitude</key>
      <real>37.32978169936526</real>
      <key>Longitude</key>
      <real>-121.88769668340683</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-22</string>
      <key>Latitude</key>
      <real>37.329922462779095</real>
      <key>Longitude</key>
      <real>-121.88800781965256</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>R-N1</string>
      <key>Latitude</key>
      <real>37.32998857883698</real>
      <key>Longitude</key>
      <real>-121.88786029815674</real>
    </dict>
    <dict>
      <key>Name</key>
      <string>W-8</string>
      <key>Latitude</key>
      <real>37.32920158069493</real>
      <key>Longitude</key>
      <real>-121.88950181007385</real>
    </dict>
  </array>
</plist>
