<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <dict>
    <key>Name</key>
    <string>R-G1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-H1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-I1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-A1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-A2</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-B1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-M1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-M2</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-M3</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-C1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-C2</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-D2</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-D1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-F1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-E1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
  <dict>
    <key>Name</key>
    <string>R-N1</string>
    <key>Latitude</key>
    <real>0.0</real>
    <key>Longitude</key>
    <real>0.0</real>
  </dict>
</array>
</plist>
